* {
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

img {
    width: 540px;
    height: auto;
}

.search_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.search_box label {
    font-size: 20px;
    font-weight: 700;
}

.search_box input, button {
    margin-top: 0.8em;
    height: 20px;
}

.search_box input[type=text] {
    width: 350px;
}

.search_box button {
    width: 100px;
}

.card {
    border: 1px solid black;
    border-radius: 10%;
    margin-top: 0.8em;
}

.card_info {
    font-size: 20px;
    font-weight: 700;
}